* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
}

body {
  background-color: #edf6fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 10px;
  padding-bottom: 20px;
}
.card .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
  background-color: #111111;
}

h1 {
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

label {
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

nav button {
  margin: 0 auto;
}

.result {
  margin-top: 50px;
  font-size: 24px;
}

footer {
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 1.5rem;
  }
